<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Welcome to DaniKart</title>

<header><h1>Welcome to DaniKart!</h1></header>
<body><h4>Please select your option</h4>
      <nav>
      <ul>
      <li><a href="#" th:href="@{'/danikart/buyer/home'}">Buyer</a></li>
      <li><a href="#" th:href="@{'/danikart/seller/home'}">Seller</a></li>
      </ul>
      </nav></body>
<footer>&copy; DaniKart 2018</footer>
</html>